#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config MYAPPS_WAP2
	bool "\"Connect ESP8266 to public WAP\" app"
	default n
	---help---
		Enable the \"Connect ESP8266 to public WAP\" app

if MYAPPS_WAP2

config MYAPPS_WAP2_PROGNAME
	string "Program name"
	default "wap2"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config MYAPPS_WAP2_PRIORITY
	int "wap2 task priority"
	default 100

config MYAPPS_WAP2_STACKSIZE
	int "wap2 stack size"
	default 2048

endif # MYAPPS_WAP2
