#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config MYAPPS_SSEND
	bool "\"Sensor send to dweet.io\" example"
	default n
	---help---
		Enable the \"Sensor send to dweet.io\" example

if MYAPPS_SSEND

config MYAPPS_SSEND_PROGNAME
	string "Program name"
	default "ssend"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config MYAPPS_SSEND_PRIORITY
	int "ssend task priority"
	default 100

config MYAPPS_SSEND_STACKSIZE
	int "ssend stack size"
	default 2048

endif # MYAPPS_SSEND
