#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config MYAPPS_TEST
	bool "\"Tester\" example"
	default n
	---help---
		Enable the \"Tester\" example

if MYAPPS_TEST

config MYAPPS_TEST_PROGNAME
	string "Program name"
	default "test"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config MYAPPS_TEST_PRIORITY
	int "test task priority"
	default 100

config MYAPPS_TEST_STACKSIZE
	int "test stack size"
	default 2048

endif # MYAPPS_TEST
